@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
  --main: rgb(57 150 237);
  --main-darken: color-mix(in srgb, var(--main) 50%, transparent);

}